body {
    color: #5afc69;
    background-color: #2c3028;
}

ul > li.nav-item > a.nav-link, ul > li.nav-item > a.nav-link.active {
    color: #5afc69;
}

.nav-tabs {
    border-color: #5afc69;
}

ul.nav-tabs > li.nav-item > a.active {
    background-color: #5afc69;
    color:#2c3028;
    border-color: #5afc69;

}



.center-image img{
    height: 300px;
    position: relative;
    display: block;
    margin: auto;
    margin: auto;
    margin-top: 100px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(2);
}

.pip-footer{
    position: fixed;
    bottom: 0;
    margin: 10px;
    width: 100%;
}